.transactionhistory{margin-top: 20px;
border: 1px solid ;
width: 400px;
}

thead{padding: 20px 20px;
background-color:turquoise;
color: #fff;}
th{padding: 15px;}
td {padding: 10px;
color: gray;}
tr:nth-child(even){background-color: #F5F5F5}